[Unit]
Description=Prometheus Cluster Exporter
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/prometheus-cluster-exporter.options
ExecStart=/usr/bin/prometheus-cluster-exporter $OPTIONS
User=prometheus
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
